.nav-bar {
    width: 6vw;
    background-color: #ffff;
    border-right: 2px solid #eaeaea;
}

.nav-bar div img {
    width: 1.4vw;
    height: 1.4vw;
}

.nav-bar div > :first-child {
    width: 1.1vw;
    height: 1.1vw;
}

.nav-bar > img{
    width: 1.8vw;
    height: auto;
}

.log-out-btn{
    width: 1.7vw !important;
}
