.logCard {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: #fff;
    padding: 15px;
}

.logCard:hover {
    transform: scale(1.03);
}

.logCard h3 {
    font-size: 14px;
    font-weight: 500;
    color: #616161;
}

.logCard h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.logCard > :first-child {
    height: 30vh !important;
    overflow: hidden;
    border-radius: 10px;
}

.logCard:hover > :first-child img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.logCard > :first-child img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
